.body {
    background-image:url(https://img.freepik.com/vector-gratis/fondo-sandia-azul_53876-93612.jpg?w=740&t=st=1647922787~exp=1647923387~hmac=6e9fe4ce94138497e72e60f30a0b8fc7ca19e2c22aace39bac6e9153ec22f4ba);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    /*background-color: #f8d4ef;*/
  }

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  
  .form-signin .checkbox {
    font-weight: 400;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

 .center{
    text-align: center;
    
 }
 .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .fondo{
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: 100%;
  }

  button{
    background-color: rgb(12, 209, 193);
    border: none;
  }

