.grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap : 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}
img{
    max-width: 70%;
    max-height: 70%;
}
.center {
    height: 200px;
    width: 200px;
}