
<div class="centrar">
<div class="usuario">
<div class="card" style="width: 18rem;">
  <img src="../assets/img/piña.png" class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title">Registrarme como usuario</h5>
    <p class="card-text">Si deseas abrir una cuenta y llevar un control de tus dietas y rutinas en base a la recomendación de un nutriólogo haz click aquí.ㅤㅤㅤㅤ🙂🍽️</p>
    <a href="/registro-usuario" class="btn btn-primary">Usuario</a>
  </div>
</div>
</div>



<div class="nutri">
<div class="card" style="width: 18rem;">
  <img src="../assets/img/manzanita.png" class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title">Registrarme como nutriólogo</h5>
    <p class="card-text">Si eres nutriólogo y estás interesad@ en llevar un monitoreo de tus pacientes por medio de la aplicación haz click aqui.🧑‍⚕️🩺 </p>
    <a href="/registro-nutriologo" class="btn btn-primary">Nutriólogo</a>
  </div>
</div>
</div>

</div>